<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		link(rel="stylesheet", href="css/styles.css")
		link(rel="stylesheet", href="css/ed-grid.css")
		script(src="js/jquery-3.0.0.min.js")
		script(src="js/main.js")
		title Webpaint - Pedro
	body
		header#header
			.logo_menu
				.grupo
					.caja.web-50
						h1.logo
							span.icon-brocha
							|ebpaint
					.caja.web-50
						.menu-bar
							a.bt-menu(href="#")
								span.icon-menu#p
								| Menu
						ul.menu
							li.menu__item: a.menu__link(href="#") Home
							li.menu__item: a.menu__link(href="#") Portafolio
							li.menu__item: a.menu__link(href="#") About
							li.menu__item: a.menu__link(href="#") Blog
							li.menu__item: a.menu__link(href="#") Contact
			.grupo
				.caja
					.banner
						h2.banner__title We are 
							span Webpaint
						p.banner__description 
							span digital & branding 
							| agency based in Jupiter and we would love to turn ideas beautiful things
						a.banner__button(href="#") See Portafolio
		
		section#servicios
			.grupo
				.caja.tablet-50.web-25
					.servicio
						span.servicio__icono.icon-android
						h3.servicio__title Android
						p.servicio__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident a, optio nulla quasi. Velit dolores, culpa dolore magnam quasi.
				.caja.tablet-50.web-25
					.servicio
						span.servicio__icono.icon-computadora
						h3.servicio__title Desarrollo
						p.servicio__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident a, optio nulla quasi. Velit dolores, culpa dolore magnam quasi.
				.caja.tablet-50.web-25
					.servicio
						span.servicio__icono.icon-camara
						h3.servicio__title Fotograf&iacute;a
						p.servicio__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident a, optio nulla quasi. Velit dolores, culpa dolore magnam quasi.
				.caja.tablet-50.web-25
					.servicio
						span.servicio__icono.icon-reloj
						h3.servicio__title Time
						p.servicio__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident a, optio nulla quasi. Velit dolores, culpa dolore magnam quasi.

		section#noticias
			.grupo
				.caja
					h2.noticia__title Our Featured Works
					p.noticia__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis.
				.caja
					.botones
						a.botones__item(href="#") All
						a.botones__item(href="#") Graphic
						a.botones__item(href="#") Illustration
						a.botones__item(href="#") Motion
				.caja
					.galeria
						img.galeria__img(src="img/imagen1.jpg")
						img.galeria__img(src="img/imagen1.jpg")
						img.galeria__img(src="img/imagen1.jpg")
						img.galeria__img(src="img/imagen1.jpg")
						img.galeria__img(src="img/imagen1.jpg")
						img.galeria__img(src="img/imagen1.jpg")
						img.galeria__img(src="img/imagen1.jpg")
						img.galeria__img(src="img/imagen1.jpg")
						img.galeria__img(src="img/imagen1.jpg")
						img.galeria__img(src="img/imagen1.jpg")
						img.galeria__img(src="img/imagen1.jpg")
						img.galeria__img(src="img/imagen1.jpg")

		section#footer
			.grupo
				.caja
					h2.informacion__title Get in Touch
					p.informacion__description  Vestibulum id ligula porta felis euismod semper, malesuada euismod.
					p.contacto
						span.icon-pin
						| Moonshine Street N° 14/05 Light City, Jupiter
					p.contacto
						span.icon-telefono
						| 0247 373 377
				.caja
					.sociales
						a.sociales__item(href="#").icon-facebook
						a.sociales__item(href="#").icon-twitter
						a.sociales__item(href="#").icon-instagram
						a.sociales__item(href="#").icon-github
						a.sociales__item(href="#").icon-pinterest
		.creditos
			.grupo
				.caja
					p &copy; 2016 Pedro Muñoz Alvear Webpaint

			

	
